/* 

The one style sheet for Quotations 1

Authors: Rick Mercer and Xin Li

*/
.container {
    vertical-align: text-top;
    border: 2px black solid;
    border-radius: 7px;
    padding: 10px;
    margin: 5px;
    font-size: 14pt;
}

a,
.logout {
    padding-left: 5px;
}

.form {
    width: fit-content;
}

h1 {
    text-align: center;
    margin: 50px;
    font-family: "Comic Sans MS", sans-serif;
}

* {
    margin: 2px;
}
